<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706144519708-ucvk5jnmbdck55t2olmb3u60r2hjj3ag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706144519708-ucvk5jnmbdck55t2olmb3u60r2hjj3ag</string>
	<key>API_KEY</key>
	<string>AIzaSyB-aH_PXUEJ3rtUs1G98nRgarkz1s89A7o</string>
	<key>GCM_SENDER_ID</key>
	<string>706144519708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shannon.burke.PubUp</string>
	<key>PROJECT_ID</key>
	<string>pubup-79e03</string>
	<key>STORAGE_BUCKET</key>
	<string>pubup-79e03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706144519708:ios:85069bb4607e4c63c101d9</string>
</dict>
</plist>